.button{
    background-color: rgb(255, 0, 0);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 500ms, color 500ms;
}
.button:hover{
    background-color: black;
    color: red;
}